Click==7.0
cycler==0.10.0
kiwisolver==1.1.0
loguru==0.4.1
matplotlib==3.2.1
matplotlib2tikz==0.7.6
numpy==1.18.1
Pillow==9.0.1
pyparsing==2.4.6
python-dateutil==2.8.1
selenium==3.141.0
six==1.14.0
tikzplotlib==0.9.1
timeunit==1.1.0
urllib3==1.26.5
